[mariadb]
name = MariaDB 11.4
baseurl = https://mirror.mariadb.org/yum/11.4/rhel/$releasever/$basearch
gpgkey = https://supplychain.mariadb.com/MariaDB-Server-GPG-KEY
gpgcheck = 1
module_hotfixes = 1
