global:
  scrape_interval: {{ prometheus_scrape_interval }}

scrape_configs:
{% for cluster in galera_clusters | default([{'name': 'galera', 'galera_group': 'galera'}]) %}
  - job_name: 'galera_{{ cluster.name }}'
    static_configs:
      - targets:
{% for host in groups[cluster.galera_group] %}
          - '{{ hostvars[host].ansible_host }}:{{ mysqld_exporter_port }}'
{% endfor %}
        labels:
          cluster: '{{ cluster.name }}'
{% endfor %}

{% if groups['loadbalancer'] is defined and groups['loadbalancer'] | length > 0 %}
  - job_name: 'haproxy'
    static_configs:
      - targets:
{% for host in groups['loadbalancer'] %}
          - '{{ hostvars[host].ansible_host }}:{{ haproxy_prometheus_port | default(8405) }}'
{% endfor %}

  - job_name: 'proxysql'
    static_configs:
      - targets:
{% for host in groups['loadbalancer'] %}
          - '{{ hostvars[host].ansible_host }}:{{ proxysql_exporter_port | default(42004) }}'
{% endfor %}
{% endif %}
