[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = rocky
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

# Parallel execution
forks = 10
pipelining = True

# Logging
# log_path = /var/log/ansible.log

# Vault (uncomment when using ansible-vault)
# vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
control_path = %(directory)s/%%h-%%r
pipelining = True
